body {
  margin: 0;
  line-height: normal;
}
.popup-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.rectangle-div183 {
  position: absolute;
  top: 168px;
  left: 0;
  background-color: #079f5a;
  width: 1440px;
  height: 540px;
}
.image-3-icon8 {
  position: absolute;
  top: 241px;
  left: 730px;
  border-radius: 10px;
  width: 670px;
  height: 394px;
  object-fit: cover;
}
.analytics-dashboard-div34 {
  position: relative;
  line-height: 60px;
  font-weight: 500;
  display: inline-block;
  width: 619px;
}
.lorem-ipsum-dolor-sit-amet-co3 {
  position: relative;
  font-size: 18px;
  line-height: 22px;
  display: inline-block;
  width: 440px;
}
.frame-div319 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}
.analyze-now-div17 {
  position: relative;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  font-family: "Mark Pro";
  color: #079f5a;
  text-align: left;
  display: inline-block;
}
.primary-big-button9 {
  border-radius: 30px;
  background-color: #fff;
  flex-direction: row;
  padding: 16px 40px;
  box-sizing: border-box;
}
.frame-div318,
.primary-big-button8,
.primary-big-button9 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.primary-big-button8 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  border-radius: 30px;
  flex-direction: row;
}
.frame-div318 {
  position: absolute;
  top: calc(50% - 2086px);
  left: 40px;
  flex-direction: column;
  gap: 50px;
}
.rectangle-div184 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  background-color: #fff;
  width: 1360px;
  height: 1532px;
}
.lorem-ipsum-dolor-sit8 {
  position: absolute;
  top: 40px;
  left: 40px;
  font-size: 36px;
  line-height: 40px;
  display: inline-block;
  color: #171717;
}
.copy-your-data-from-the-web-e4 {
  position: absolute;
  top: 38px;
  left: 0;
  line-height: 22px;
  display: inline-block;
  width: 540px;
}
.copy-paste-your-data4 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 24px;
  line-height: 28px;
  display: inline-block;
  color: #171717;
}
.group-div396 {
  position: absolute;
  top: 295px;
  left: 40px;
  width: 540px;
  height: 104px;
}
.rectangle-icon32 {
  top: 150px;
}
.rectangle-icon32,
.rectangle-icon33,
.rectangle-icon34 {
  position: absolute;
  left: 620px;
  border-radius: 10px;
  width: 700px;
  height: 394px;
  object-fit: cover;
}
.rectangle-icon33 {
  top: 624px;
}
.rectangle-icon34 {
  top: 1098px;
}
.group-div397,
.group-div398 {
  position: absolute;
  top: 1224px;
  left: 40px;
  width: 540px;
  height: 104px;
}
.group-div398 {
  top: 780px;
  height: 82px;
}
.line-div47 {
  top: 99.5px;
}
.line-div47,
.line-div48,
.line-div49 {
  position: absolute;
  left: 39.5px;
  border-top: 1px solid #eaeaea;
  box-sizing: border-box;
  width: 1281px;
  height: 1px;
}
.line-div48 {
  top: 583.5px;
}
.line-div49 {
  top: 1057.5px;
}
.group-div395,
.rectangle-div185 {
  position: absolute;
  top: 0;
  left: 40px;
  width: 1360px;
  height: 1532px;
}
.rectangle-div185 {
  left: 0;
  background-color: #fff;
  width: 1440px;
  height: 769px;
}
.missing-something-special-wis4 {
  position: absolute;
  top: 165px;
  left: 385px;
  line-height: 22px;
  display: inline-block;
  width: 670px;
}
.line-doc-34 {
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  overflow: hidden;
}
.even-on-our-free-plan-theres4 {
  position: absolute;
  top: 34px;
  left: 46px;
  line-height: 20px;
  display: inline-block;
  width: 334px;
}
.unlimited-visualizations-div6 {
  position: absolute;
  top: 0;
  left: 46px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  color: #171717;
  display: inline-block;
}
.group-div401 {
  top: 0;
}
.group-div401,
.group-div402,
.group-div403 {
  position: absolute;
  left: 0;
  width: 380px;
  height: 94px;
}
.group-div402 {
  top: 174px;
}
.group-div403 {
  top: 348px;
}
.group-div404 {
  position: absolute;
  top: 0;
  width: 380px;
}
.group-div404,
.group-div405,
.group-div406 {
  left: 460px;
  height: 94px;
}
.group-div405,
.group-div406,
.group-div407 {
  position: absolute;
  width: 380px;
}
.group-div405 {
  top: 174px;
}
.group-div406 {
  top: 348px;
}
.group-div407 {
  top: 0;
  left: 920px;
  height: 114px;
}
.group-div400 {
  position: absolute;
}
.group-div408,
.group-div409 {
  position: absolute;
  top: 174px;
  left: 920px;
  width: 380px;
  height: 94px;
}
.group-div409 {
  top: 348px;
  height: 74px;
}
.group-div400 {
  top: 257px;
  left: 70px;
  width: 1300px;
  height: 442px;
  text-align: left;
  font-size: 16px;
}
.all-the-features-you-need-to-c4 {
  position: absolute;
  top: 70px;
  left: 270px;
  font-size: 36px;
  line-height: 40px;
  display: inline-block;
  color: #171717;
  width: 900px;
}
.group-div399,
.rectangle-div186 {
  position: absolute;
  left: 0;
  width: 1440px;
}
.group-div399 {
  top: 1652px;
  height: 769px;
  text-align: center;
}
.rectangle-div186 {
  top: 0;
  background-color: #fff;
  height: 317px;
}
.platform-div49 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
}
.analytics-dashboard-div35 {
  position: relative;
  line-height: 18px;
  display: inline-block;
}
.frame-div320 {
  position: absolute;
  top: 34px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
  font-size: 14px;
  color: #171717;
}
.group-div411,
.group-div412 {
  position: absolute;
  top: 70px;
  left: 446px;
  width: 142px;
  height: 98px;
}
.group-div412 {
  left: 1285px;
  width: 86px;
}
.procurement-and-logistics20 {
  position: relative;
  line-height: 18px;
  display: inline-block;
  width: 148px;
}
.group-div413 {
  position: absolute;
  top: 70px;
  left: 669px;
  width: 148px;
  height: 185px;
}
.group-div414,
.group-div415 {
  position: absolute;
  top: 70px;
  left: 898px;
  width: 90px;
  height: 144px;
}
.group-div415 {
  left: 1069px;
  width: 135px;
  height: 75px;
}
.rectangle-div187 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f3f3f3;
  width: 1440px;
  height: 50px;
}
.envato-elements-pty-ltd-trade15 {
  position: absolute;
  top: 16px;
  left: 375px;
  line-height: 18px;
  display: inline-block;
}
.group-div416 {
  position: absolute;
  top: 317px;
  left: 0;
  width: 1440px;
  height: 50px;
  text-align: center;
  font-size: 14px;
  color: #171717;
}
.smart-span31 {
  color: #171717;
}
.qsmart-div31 {
  position: absolute;
  top: 70px;
  left: 40px;
  font-size: 40px;
  line-height: 40px;
  font-weight: 500;
  display: inline-block;
}
.duis-lorem-pulvinar-faucibus-t11 {
  position: relative;
  line-height: 20px;
  display: inline-block;
  width: 295px;
  flex-shrink: 0;
}
.frame-div325 {
  position: absolute;
  top: 140px;
  left: 40px;
  border-radius: 10px;
  background-color: #f3f3f3;
  display: flex;
  flex-direction: row;
  padding: 15px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 16px;
  color: #171717;
}
.group-div410 {
  position: absolute;
  top: 3331px;
  left: 0;
  width: 1440px;
  height: 367px;
  color: #079f5a;
}
.lorem-ipsum-dolor-sit9 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 36px;
  line-height: 40px;
  display: inline-block;
  color: #171717;
  width: 555px;
}
.datawrapper-lets-you5 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.more-about-all5 {
  margin: 0;
}
.datawrapper-lets-you-show-your6 {
  position: absolute;
  top: 55px;
  left: 0;
  font-size: 18px;
  line-height: 22px;
  display: inline-block;
  width: 555px;
}
.image-2-icon10,
.rectangle-div188 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  width: 555px;
}
.rectangle-div188 {
  background-color: #fff;
  height: 516px;
}
.image-2-icon10 {
  height: 378px;
  object-fit: cover;
}
.analytics-dashboard6,
.use-one-of-19-interactive-and11 {
  position: absolute;
  left: 5.41%;
  display: inline-block;
}
.use-one-of-19-interactive-and11 {
  height: 7.75%;
  width: 68.47%;
  top: 86.43%;
  right: 26.13%;
  bottom: 5.81%;
  line-height: 20px;
}
.analytics-dashboard6 {
  height: 5.43%;
  width: 43.96%;
  top: 79.07%;
  right: 50.63%;
  bottom: 15.5%;
  font-size: 24px;
  line-height: 28px;
  color: #171717;
}
.group-div418 {
  left: 0;
}
.group-div418,
.group-div419,
.group-div420 {
  position: absolute;
  top: 154px;
  width: 555px;
  height: 516px;
}
.group-div419 {
  left: 575px;
}
.group-div420 {
  left: 1150px;
}
.group-div394,
.group-div417 {
  position: absolute;
}
.group-div417 {
  top: 2541px;
  left: 40px;
  width: 1705px;
  height: 670px;
  font-size: 16px;
}
.group-div394 {
  top: 1098px;
  left: 0;
  width: 1745px;
  height: 3698px;
  font-size: 18px;
  color: #777;
}
.rectangle-div191 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px 0 0 10px;
  background-color: #079f5a;
  width: 890px;
  height: 200px;
}
.meet-the-companies-transformin3 {
  position: absolute;
  top: 40px;
  left: 40px;
  line-height: 40px;
  display: inline-block;
  width: 580px;
}
.group-div421 {
  position: absolute;
  top: 778px;
  left: 550px;
  width: 890px;
  height: 200px;
  font-size: 36px;
  color: #fff;
}
.rectangle-div192 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
}
.analytics-dashboard-div36 {
  position: relative;
  line-height: 18px;
  color: #079f5a;
  display: inline-block;
}
.frame-div326 {
  position: absolute;
  height: 37.5%;
  top: 31.25%;
  bottom: 31.25%;
  left: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
}
.group-div422,
.rectangle-div193 {
  position: absolute;
  height: 28.57%;
  width: 100%;
  top: 71.43%;
  right: 0;
  bottom: 0;
  left: 0;
}
.rectangle-div193 {
  height: 71.43%;
  top: 0;
  bottom: 28.57%;
  background-color: #fff;
  border: 1px solid #eaeaea;
  box-sizing: border-box;
}
.platform-div52,
.qsmart-div32 {
  position: absolute;
  font-weight: 500;
  display: inline-block;
}
.qsmart-div32 {
  height: 23.81%;
  width: 10.63%;
  top: 23.81%;
  right: 86.6%;
  bottom: 52.38%;
  left: 2.78%;
  font-size: 40px;
  line-height: 40px;
  cursor: pointer;
  color: #079f5a;
}
.platform-div52 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  line-height: 24px;
}
.platform-div51 {
  width: 88px;
  color: #079f5a;
}
.about-us-div39,
.platform-div51,
.resources-div27,
.solutions-div53 {
  position: relative;
  height: 24px;
  flex-shrink: 0;
}
.solutions-div53 {
  width: 93px;
}
.resources-div27 {
  width: 99px;
}
.about-us-div39 {
  width: 88px;
}
.frame-div327 {
  position: absolute;
  height: 14.29%;
  width: 35.97%;
  top: 28.57%;
  right: 29.31%;
  bottom: 57.14%;
  left: 34.72%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 50px;
  font-size: 20px;
}
.log-in-div14 {
  position: relative;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  font-family: "Mark Pro";
  color: #171717;
  text-align: left;
  display: inline-block;
}
.secondary-button {
  cursor: pointer;
  border: 0;
  padding: 12px 30px;
  background-color: #f3f3f3;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.analyze-now-div18 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
}
.frame-div328,
.primary-button-div13 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.primary-button-div13 {
  border-radius: 30px;
  background-color: #fff;
  border: 2px solid #079f5a;
  box-sizing: border-box;
  position: relative;
  padding: 12px 30px;
}
.frame-div328 {
  position: absolute;
  height: 28.57%;
  width: 21.46%;
  top: 21.43%;
  right: 2.78%;
  bottom: 50%;
  left: 75.76%;
  gap: 20px;
  font-size: 18px;
  color: #079f5a;
}
.header-div11 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 168px;
  font-size: 14px;
  color: #171717;
}
.analytics-dashboard-div33 {
  position: relative;
  background-color: #f3f3f3;
  width: 100%;
  height: 4796px;
  overflow: hidden;
  text-align: left;
  font-size: 56px;
  color: #f3f3f3;
  font-family: "Mark Pro";
}
.sales-div {
  position: relative;
  line-height: 20px;
  display: inline-block;
}
.frame-div {
  position: relative;
  border-radius: 0 0 10px 10px;
  background-color: #fff;
  border-top: 0 solid #eaeaea;
  border-right: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  border-left: 1px solid #eaeaea;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 14px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: left;
  font-size: 16px;
  color: #171717;
  font-family: "Mark Pro";
}
