
.popup-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.rectangle-div {
  position: absolute;
  top: 168px;
  left: 0;
  background-color: #fff;
  width: 1440px;
  height: 108px;
}
.talk-to-sales {
  position: absolute;
  top: 20px;
  left: 0;
  line-height: 28px;
  display: inline-block;
}
.line-div {
  position: absolute;
  top: -1px;
  left: -1px;
  border-top: 2px solid #079f5a;
  box-sizing: border-box;
  width: 1362px;
  height: 2px;
}
.group-divcontacts,
.rectangle-div1 {
  position: absolute;
  top: 208px;
  left: 40px;
  width: 1360px;
  height: 48px;
}
.rectangle-div1 {
  top: 0;
  left: 0;
  background-color: #fff;
  width: 1440px;
  height: 317px;
}
.platform-div {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
}
.analytics-dashboard-div {
  position: relative;
  line-height: 18px;
  display: inline-block;
}
.frame-div1 {
  position: absolute;
  top: 34px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
  font-size: 12px;
  color: #171717;
}
.group-div2,
.group-div3 {
  position: absolute;
  top: 70px;
  left: 446px;
  width: 142px;
  height: 98px;
}
.group-div3 {
  left: 1285px;
  width: 86px;
}
.procurement-and-logistics1 {
  position: relative;
  line-height: 18px;
  display: inline-block;
  width: 148px;
}
.group-div4,
.group-div5 {
  position: absolute;
  top: 70px;
  left: 669px;
  width: 148px;
  height: 185px;
}
.group-div5 {
  left: 898px;
  width: 90px;
  height: 144px;
}
.group-div6,
.rectangle-div2 {
  position: absolute;
  top: 70px;
  left: 1069px;
  width: 135px;
  height: 75px;
}
.rectangle-div2 {
  top: 0;
  left: 0;
  background-color: #f3f3f3;
  width: 1440px;
  height: 50px;
}
.envato-elements-pty-ltd-trade {
  position: absolute;
  top: 16px;
  left: 375px;
  line-height: 18px;
  display: inline-block;
}
.group-div7 {
  position: absolute;
  top: 317px;
  left: 0;
  width: 1440px;
  height: 50px;
  text-align: center;
  font-size: 12px;
}
.group-div7,
.smart-span {
  color: #171717;
}
.qsmart-div {
  position: absolute;
  top: 70px;
  left: 40px;
  font-size: 40px;
  line-height: 40px;
  font-weight: 500;
  display: inline-block;
}
.duis-lorem-pulvinar-faucibus-t {
  position: relative;
  line-height: 20px;
  display: inline-block;
  width: 295px;
  flex-shrink: 0;
}
.frame-div6 {
  position: absolute;
  top: 140px;
  left: 40px;
  border-radius: 10px;
  background-color: #f3f3f3;
  display: flex;
  flex-direction: row;
  padding: 15px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 16px;
  color: #171717;
}
.group-div1 {
  position: absolute;
  top: 1094px;
  left: 0;
  width: 1440px;
  height: 367px;
  font-size: 18px;
}
.our-sales-team-is-happy-answer {
  position: relative;
  line-height: 28px;
  font-weight: 500;
  display: inline-block;
  width: 785px;
  font-size: 24px;
  color: #079f5a;
}
.name-div1,
.rectangle-input {
  position: absolute;
  top: 0;
  left: 0;
}
.name-div1 {
  line-height: 18px;
  display: inline-block;
}
.rectangle-input {
  border: 0;
  background-color: #f3f3f3;
  border-radius: 10px;
  width: 380px;
  height: 56px;
  padding-left: 20px;
  font-family: "Mark Pro";
}
.name-div2 {
  position: absolute;
  top: 19px;
  left: 20px;
  line-height: 18px;
  display: inline-block;
}
.group-div9 {
  border: 0;
    background-color: #f3f3f3;
    border-radius: 10px;

    height: 56px;
  top: 28px;

  color: #777;
}
.group-div10,
.group-div9,
.name-div {
  position: absolute;
  left: 0;
  width: 380px;
}
.name-div {
  top: 0;
  height: 84px;
  color: #171717;
}
.group-div10 {
  top: 28px;
  height: 56px;
}
.work-email-div2 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 18px;
  color: #171717;
  display: inline-block;
}
.company-div,
.phone-div,
.rectangle-textarea,
.work-email-div {
  position: absolute;
  top: 0;
  left: 420px;
  width: 400px;
  height: 84px;
}
.company-div,
.phone-div,
.rectangle-textarea {
  top: 114px;
}
.phone-div,
.rectangle-textarea {
  left: 0;
}
.rectangle-textarea {
  border: 0;
  background-color: #f3f3f3;
  top: 28px;
  border-radius: 10px;
  width: 800px;
  height: 80px;
  padding-top: 20px;
  padding-left: 20px;
  font-family: 'Mark Pro';
  font-style: normal;
  font-weight: 450;
  font-size: 14px;
}
.name-div3 {
  position: absolute;
  top: 47px;
  left: 20px;
  line-height: 18px;
  display: inline-block;
  width: 770px;
}
.message-div {
  position: absolute;
  top: 228px;
  left: 0;
  width: 820px;
  height: 128px;
}

.message-divs {
  position: absolute;
  top: 114px;
  left: 0;
  width: 820px;
  height: 128px;
}

.log-in-div {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
}
.secondary-button-div {
  position: absolute;
  top: 396px;
  left: 0;
  border-radius: 30px;
  border: 1px solid;
  background-color: #079f5a;
  display: flex;
  flex-direction: row;
  padding: 12px 30px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 18px;
  color: #fff;
}

.secondary-button-divs {
  position: absolute;
  top: 282px;
  left: 0;
  border: 1px solid;
  border-radius: 30px;
  background-color: #079f5a;
  display: flex;
  flex-direction: row;
  padding: 12px 30px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 18px;
  color: #fff;
}
.group-div8 {
  position: relative;
  width: 820px;
  height: 444px;
  flex-shrink: 0;
  font-size: 14px;
  color: #777;
}
.group-div8s {
  position: relative;
  width: 820px;
  height: 330px;
  flex-shrink: 0;
  font-size: 14px;
  color: #777;
}
.frame-div8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 50px;
}
.frame-divcontacts,
.rectangle-div3 {
  position: relative;
  background-color: #fff;
}
.frame-divcontacts {
  top: 40px;
  width: 900px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 40px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0 auto;
}
.rectangle-div3 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.platform-div1 {
  position: relative;
  line-height: 18px;
  color: #079f5a;
  display: inline-block;
}
.analytics-dashboard-div1,
.div1 {
  position: relative;
  line-height: 18px;
  display: none;
}
.analytics-dashboard-div1 {
  color: #079f5a;
}
.frame-div9 {
  position: absolute;
  height: 37.5%;
  top: 31.25%;
  bottom: 31.25%;
  left: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
}
.group-div13,
.rectangle-div4 {
  position: absolute;
  height: 28.57%;
  width: 100%;
  top: 71.43%;
  right: 0;
  bottom: 0;
  left: 0;
}
.rectangle-div4 {
  height: 71.43%;
  top: 0;
  bottom: 28.57%;
  background-color: #fff;
  border-top: 0 solid #eaeaea;
  border-right: 0 solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  border-left: 0 solid #eaeaea;
  box-sizing: border-box;
}
.platform-div3,
.qsmart-div1 {
  position: absolute;
  font-weight: 500;
  display: inline-block;
}
.qsmart-div1 {
  height: 23.81%;
  width: 10.63%;
  top: 23.81%;
  right: 86.6%;
  bottom: 52.38%;
  left: 2.78%;
  font-size: 40px;
  line-height: 40px;
  cursor: pointer;
  color: #079f5a;
}
.platform-div3 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  line-height: 24px;
}
.platform-div2 {
  width: 88px;
}
.platform-div2,
.resources-div,
.solutions-div2 {
  position: relative;
  height: 24px;
  flex-shrink: 0;
}
.solutions-div2 {
  width: 93px;
  color: #079f5a;
}
.resources-div {
  width: 99px;
}
.frame-div10 {
  position: absolute;
  height: 14.29%;
  width: 35.97%;
  top: 28.57%;
  right: 29.31%;
  bottom: 57.14%;
  left: 34.72%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 50px;
  font-size: 20px;
}
.secondary-button-div1 {
  border-radius: 30px;
  background-color: #f3f3f3;
  padding: 12px 30px;
  box-sizing: border-box;
}
.frame-div11,
.primary-button-div,
.secondary-button-div1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.primary-button-div {
  border-radius: 30px;
  background-color: #fff;
  border: 2px solid #079f5a;
  box-sizing: border-box;
  position: relative;
  padding: 12px 30px;
  color: #079f5a;
}
.frame-div11 {
  position: absolute;
  height: 28.57%;
  width: 21.46%;
  top: 21.43%;
  right: 2.78%;
  bottom: 50%;
  left: 75.76%;
  gap: 20px;
  font-size: 18px;
}
.header-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 168px;
  font-size: 12px;
  color: #171717;
}
.contact-sales-div {
  position: relative;
  background-color: #f3f3f3;
  width: 100%;
  height: 820px;
  overflow: hidden;
  text-align: left;
  font-size: 24px;
  color: #079f5a;
  font-family: "Mark Pro";
}
.sales-div {
  position: relative;
  line-height: 20px;
  display: inline-block;
}
.frame-div {
  position: relative;
  border-radius: 0 0 10px 10px;
  background-color: #fff;
  border-top: 0 solid #eaeaea;
  border-right: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  border-left: 1px solid #eaeaea;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 14px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: left;
  font-size: 16px;
  color: #171717;
  font-family: "Mark Pro";
}
@media (max-width: 900px) {
  .frame-divcontacts {
    top: 16px;
    width: 375px;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    padding: 30px 16px 30px 16px;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: flex-start;
     margin: 0;
}
.our-sales-team-is-happy-answer {
  width: 343px;
}
.group-div10, .group-div9, .name-div {
  position: absolute;
  left: 0;
  width: 343px;
}
.rectangle-input {
  width: 343px;
}
.work-email-div {
  position: absolute;
  top: 114px;
  left: 0;
  width: 343px;
  height: 84px;
}
.message-divs {
  position: absolute;
  top: 228px;
  left: 0;
  width: 343px;
  height: 128px;
}
.rectangle-textarea {
  width: 343px;
}
.group-div8s {
  position: relative;
  width: 375px;
  height: 418px;
  flex-shrink: 0;
  font-size: 14px;
  color: #777;
}
.secondary-button-divs {
  position: absolute;
  top: 366px;
  left: 40px;
  border-radius: 30px;
  background-color: #079f5a;
  display: flex;
  flex-direction: row;
  padding: 12px 100px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 18px;
  color: #fff;
}
.company-div {
  top: 228px;
}
.phone-div {
  top: 342px;
}
.company-div {
  position: absolute;
  top: 228px;
  left: 0;
  width: 343px;
  height: 84px;
}
.message-div {
  position: absolute;
  top: 456px;
  left: 0;
  width: 343px;
  height: 128px;
}
.group-div8 {
  position: relative;
  width: 343px;
  height: 645px;
  flex-shrink: 0;
  font-size: 14px;
  color: #777;
}
.secondary-button-div {
  top: 594px;
  left: 40px;
  padding: 12px 100px;
}
}