html {
    scroll-behavior: smooth;
  }
  
.sections {
    background-color: #fff;
}

.group-div1 {
    position: relative;
    top: 40px; 
    left: 40px;
    width: 1360px;
    height: 642px;
    margin: 0 auto;
}
.image-4-icon {
    position: absolute;
    top: 0;
    left: 623px;
    border-radius: 20px;
    width: 737px;
    height: 562px;
    object-fit: cover;
}
.frame-div3s {
    position: absolute;
    top: 130px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 40px;
}
.frame-div4s {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
}
.frame-div5s {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 14px;
}
.sales-divs {
    font-weight: 500;
font-size: 64px;
line-height: 70px;
}
.sales-divs {
    position: relative;
    display: inline-block;
    width: 555px;
}
.leverage-analytics-to-monitor {
    font-size: 18px;
    line-height: 22px;
    color: #777;
}
.leverage-analytics-to-monitor, .sales-div {
    position: relative;
    display: inline-block;
    width: 555px;
}
.group-div2s {
    position: relative;
    width: 272px;
    height: 84px;
    flex-shrink: 0;
    font-size: 16px;
}
.ellipse-icon {
    position: absolute;
    top: 4px;
    left: 0;
    width: 12px;
    height: 12px;
}
.create-a-competitive-advantage {
    position: absolute;
    top: 0;
    left: 19px;
    line-height: 20px;
    display: inline-block;
}
.ellipse-icon1 {
    position: absolute;
    top: 36px;
    left: 0;
    width: 12px;
    height: 12px;
}
.improve-customer-offerings {
    position: absolute;
    top: 32px;
    left: 19px;
    line-height: 20px;
    display: inline-block;
}
.ellipse-icon2 {
    position: absolute;
    top: 68px;
    left: 0;
    width: 12px;
    height: 12px;
}
.generate-new-revenue-streams {
    position: absolute;
    top: 64px;
    left: 19px;
    line-height: 20px;
    display: inline-block;
}
.learn-more-about-our-technolog {
    position: relative;
    font-size: 16px;
    text-decoration: underline;
    line-height: 20px;
    color: #079f5a;
    display: inline-block;
}
.line-divs {
    position: absolute;
    top: 601.5px;
    left: -0.5px;
    border-top: 1px solid #079f5a;
    box-sizing: border-box;
    width: 1361px;
    height: 1px;
}
.frame-div1 {
    position: relative;
    top: -104px;
    width: 890px;
    height: 219px;
    border-radius: 0 10px 10px 0;
    border-top: 2px solid #079f5a;
    border-right: 2px solid #079f5a;
    border-bottom: 2px solid #079f5a;
    border-left: 0 solid #079f5a;
    box-sizing: border-box;
    overflow: hidden;
    padding: 40px;
    color: #079f5a;
    background-color: #fff;
}
.frame-div1ss {
    position: relative;
    width: 100%;
    margin: 0 auto;
    margin-bottom: -120px;
}

.margin {
    margin: -120px;
}
.move-your-business-forward-and {
    position: relative;
    top: 15px;
    font-weight: 450;
    font-size: 18px;
    line-height: 22px;
    color: #171717;
    display: inline-block;
    width: 810px;
}
.go-beyond-standard-intelligenc {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
}
@media (max-width: 900px) {
    .sections {
        background-color: #fff0;
        display: flex;
        flex-direction: column;
        gap: 70px;
        height: 4308px;
    }
    .line-divs {
        display: none;
    }
    .group-div1 {
        position: relative;
        top: 100px;
        left: 0;
        width: 375px;
        height: 643px;
        margin: 0 auto;
        background: #FFF;
        border: 2px solid #079F5A;
        border-radius: 10px;
    }
    .frame-div1 {
        position: relative;
        top: -17px;
        width: 359px;
        height: 182px;
        border-radius: 0 10px 10px 0;
        border-top: 2px solid #079f5a;
        border-right: 2px solid #079f5a;
        border-bottom: 2px solid #079f5a;
        border-left: 0 solid #079f5a;
        box-sizing: border-box;
        overflow: hidden;
        padding: 16px;
        color: #079f5a;
        background-color: #fff;
    }
    .go-beyond-standard-intelligenc {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
    }
    .move-your-business-forward-and {
        position: relative;
        top: 0;
        font-weight: 450;
        font-size: 18px;
        line-height: 22px;
        color: #171717;
        display: inline-block;
        width: 327px;
    }
    .sales-divs {
        width: 343px;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
    }
    .leverage-analytics-to-monitor {
        width: 343px;
        font-size: 16px;
        line-height: 20px;
        color: #777;
    }
    .image-4-icon {
        position: absolute;
        top: 340px;
        left: 16px;
        border-radius: 20px;
        border: 1px solid #079F5A;
        width: 343px;
        height: 271px;
        object-fit: cover;
    }
    .frame-div3s {
        position: absolute;
        top: 40px;
        left: 16px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 40px;
    }
}