@keyframes bounce-top {
  0% {
    transform: translateY(-45px);
    animation-timing-function: ease-in;
    opacity: 1;
  }

  24% {
    opacity: 1;
  }

  40% {
    transform: translateY(-24px);
    animation-timing-function: ease-in;
  }

  65% {
    transform: translateY(-12px);
    animation-timing-function: ease-in;
  }

  82% {
    transform: translateY(-6px);
    animation-timing-function: ease-in;
  }

  93% {
    transform: translateY(-4px);
    animation-timing-function: ease-in;
  }

  25%,
  55%,
  75%,
  87% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }

  to {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

@keyframes scale-up {
  0% {
    transform: scale(0.5);
  }

  to {
    transform: scale(1);
  }
}

/*default version*/

@font-face {
  font-family: "Mark Pro";
  src: url("MarkPro-Regular.otf");
  src: local("Mark Pro"), local("Mark-Pro"),
    url("MarkPro-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Mark Pro";
  src: url("MarkPro-Bold.otf");
  src: local("Mark Pro"), local("Mark-Pro"),
    url("MarkPro-Bold.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "Mark Pro";
  src: url("MarkPro-Book.otf");
  src: local("Mark Pro"), local("Mark-Pro"),
    url("MarkPro-Book.otf") format("opentype");
  font-weight: 450;
}

@font-face {
  font-family: "Mark Pro";
  src: url("MarkPro-Medium.otf");
  src: local("Mark Pro"), local("Mark-Pro"),
    url("MarkPro-Medium.otf") format("opentype");
  font-weight: 500;
}

body {
  font-size: 20px;
  color: #888;
  line-height: 30px;
  text-align: center;
  font-family: "Mark Pro";
}

body {
  margin: 0;
  line-height: normal;
}

.popup-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.rectangle-div194 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  height: 600px;
}

.enrich-your-stories-with-chart1 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 70px;
  font-weight: 500;
  display: inline-block;
  width: 670px;
  letter-spacing: -0.01em;
}

.analyze-now-div19 {
  position: relative;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  font-family: "Mark Pro";

  text-align: left;
  display: inline-block;
}

.analyze-now-div19:hover {
  color: #079f5a;
}

.analyze-now-div191 {
  position: relative;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  font-family: "Mark Pro";

  text-align: left;
  display: inline-block;
}

.primary-big-button10,
.primary-big-button11 {
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.primary-big-button11 {
  background-color: #079f5a;
  padding: 16px 40px;
  box-sizing: border-box;
  color: #fff;
}

.primary-big-button11:hover {
  background-color: #ffffff;
  padding: 16px 40px;
  box-sizing: border-box;
  color: #079f5a;
  border: 2px solid #079f5a;
}

.primary-big-button111 {
  border-radius: 30px;
  border: 2px solid #171717;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.primary-big-button111 {
  position: absolute;
  top: 324px;
  background-color: #079f5a;
  padding: 16px 40px;
  box-sizing: border-box;
}

.primary-big-button10 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 300px;
  left: 0;
  opacity: 1;
}

.primary-big-button10a {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  left: 0;
  opacity: 1;
  color: #079f5a;
}

.primary-big-button10.animate {
  animation: 1s ease 2s 1 normal forwards bounce-top;
}

.group-div424,
.group-icon21 {
  position: absolute;
  top: 122px;
  left: 40px;
  width: 670px;
  height: 356px;
}

.group-icon21 {
  height: 73.33%;
  width: 31.46%;
  top: 13.33%;
  right: 8.89%;
  bottom: 13.33%;
  left: 59.65%;
  max-width: 100%;
  max-height: 100%;
  opacity: 1;
}

.group-icon21.animate {
  animation: 1s ease 0s 1 normal forwards scale-up;
}

.group-div423 {
  position: relative;
  left: 0;
  width: 100%;
  margin: 0 auto;
}

.firstblock {
  background-color: #ffffff;
}

.group-div423 {
  height: 600px;
  font-size: 64px;
}

.group-div42567 {
  position: relative;
  /* left: 0; */
  /* width: 100%; */
  /* height: 156px; */
  /* text-align: center; */
  /* font-size: 36px; */
  /* color: #fff; */
  /* margin: 0 auto; */
  background-color: #079f5a;
}

.no-code {
  position: relative;
  width: 100%;
  height: 156px;
  text-align: center;
  font-size: 36px;
  color: #fff;
  background-color: #079f5a;
}

.no-code-or {
  position: relative;
  top: 32px;
}

.our-goal {
  position: relative;
  top: 40px;
  font-size: 18px;
  color: #f3f3f3;
}

@media (max-width: 900px) {
  #VisaChipCardVideo {
    width: 100% !important;
  }

  #light {
    width: 95% !important;
  }

  .no-code {
    position: relative;
    width: 100%;
    height: 217px;
    text-align: center;
    font-size: 24px;
    color: #fff;
    background-color: #079f5a;
  }

  .our-goal {
    position: relative;
    top: 55px;
    font-weight: 450;
    font-size: 18px;
    color: #f3f3f3;
  }

  .no-code-or {
    position: relative;
    top: 38px;
  }

  .primary-big-button10.animate {
    display: none;
  }

  .group-div424 {
    position: relative;
    top: 30px;
    left: 16px;
    width: 343px;
    height: 210px;
  }

  .enrich-your-stories-with-chart1 {
    position: relative;
    top: 0;
    left: 0;
    /* line-height: 70px; */
    font-weight: 500;
    display: inline-block;
    width: 100%;
    letter-spacing: -0.01em;
  }

  .group-icon21 {
    position: absolute;
  }

  .group-div423 {
    height: 560px;
    font-size: 36px;
    width: 100%;
  }

  .rectangle-div194 {
    display: none;
  }

  .group-div424 {
    position: relative;
    /* top: 122px; */
    left: 4.267%;
    width: 92%;
    height: 110px;
  }

  .group-icon21 {
    position: relative;
    /* top: 122px; */
    left: 4.267%;
    width: 92%;
    height: auto;
  }

  .enrich-your-stories-with-chart1 {
    line-height: 42px;
  }
}

.datawrapper-lets-you-show-your7,
.platform-b1 {
  position: absolute;
  left: 0;
  display: inline-block;
}

.platform-b1 {
  top: 0;
  font-size: 36px;
  line-height: 40px;
}

.datawrapper-lets-you-show-your7 {
  top: 55px;
  font-size: 18px;
  line-height: 22px;
  color: #777;
  width: 440px;
}

.rectangle-div196 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  background-color: #fff;
}

.use-one {
  position: absolute;
  height: 15.79%;
  width: 100%;
  top: 84.21%;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 16px;
  line-height: 20px;
  color: #777;
  display: block;
}

.group-icon22 {
  position: absolute;
  height: 66.32%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 33.68%;
  left: 0;
  max-width: 100%;
  max-height: 100%;
}

.group-div427 {
  position: absolute;
  height: 86.36%;
  width: 86.36%;
  top: 6.82%;
  right: 6.82%;
  bottom: 6.82%;
  left: 6.82%;
}

.graph-chart19 {
  position: absolute;
  top: 151px;
  left: 0;
  width: 440px;
  height: 440px;
}

.div73 {
  position: relative;
  display: block;
  top: 151px;
  left: 0;
  width: 440px;
  height: 440px;
  cursor: pointer;
}

.graph-chart19 {
  height: 5.45%;
  width: 34.32%;
  top: 70.91%;
  right: 58.86%;
  bottom: 23.64%;
  left: 6.82%;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
}

.group-icon23,
.threetext {
  position: absolute;
  width: 86.36%;
  right: 6.82%;
  left: 6.82%;
}

.threetext {
  height: 13.64%;
  top: 79.55%;
  bottom: 6.82%;
  font-size: 16px;
  line-height: 20px;
  color: #777;
  display: inline-block;
}

.group-icon23 {
  height: 57.27%;
  top: 6.82%;
  bottom: 35.91%;
  max-width: 100%;
  max-height: 100%;
}

.fore {
  position: absolute;
  height: 5.45%;
  width: 50%;
  top: 70.91%;
  right: 66.82%;
  bottom: 23.64%;
  left: 6.82%;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
}

.platform {
  position: relative;
  margin: 0 auto;
  left: 40px;
  width: 100%;
  height: 591px;
}

.platmeny {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.rectangle-div199,
.rectangle-div200 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  height: 520px;
}

.rectangle-div200 {
  border-radius: 10px;

  width: 210px;
  height: 210px;
  background: url(../public/group-453.svg) top 30px center no-repeat;
  background-color: #f3f3f3;
}

.rectangle-div200:hover,
.rectangle-div200:focus {
  border: 2px solid #171717;
  box-sizing: border-box;
  background: url(../public/group-456.svg) top 30px center no-repeat;
  background-color: #079f5a;
}

.sales-div20 {
  position: absolute;
  top: 149px;
  left: 30px;
  line-height: 24px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
}

.group-icon25 {
  position: absolute;
  top: 30px;
  left: 64px;
  width: 82px;
  height: 82px;
}

.group-div431 {
  position: relative;
  top: 0;
  left: 0;
  width: 210px;
  height: 210px;
}

.finance-div20 {
  position: absolute;
  top: 149px;
  left: 30px;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
  width: 150px;
}

.rectangle-div203 {
  position: absolute;
  top: 230px;
  left: 230px;
  width: 210px;
  height: 210px;
}

.rectangle-div203 {
  top: 0;
  left: 0;
  border-radius: 10px;
  background-color: #079f5a;
  border: 2px solid #171717;
  box-sizing: border-box;
}

.procurement-and-logistics21 {
  position: absolute;
  top: 137px;
  left: 30px;
  line-height: 24px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
}

.divjs {
  position: relative;
  display: flex;
  top: 40px;
  left: 730px;
  width: 45%;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.procurement-and-logistics22 {
  position: relative;
  line-height: 40px;
  display: inline-block;
  width: 555px;
}

.datawrapper-lets-you6 {
  margin-block-start: 0;
  margin-block-end: 0;
}

.more-about-all6 {
  margin: 0;
}

.datawrapper-lets-you-show-your8 {
  position: relative;
  font-size: 18px;
  line-height: 22px;
  color: #777;
  display: inline-block;
  width: 555px;
}

.frame-div330 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
}

.analyze-now-div20 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
  font-size: 18px;
}

.frame-div329,
.primary-big-button12 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.primary-big-button12 {
  border-radius: 30px;
  background-color: #079f5a;
  border: 2px solid #171717;
  box-sizing: border-box;
  position: relative;
  /* width: 212px;*/
  flex-direction: row;
  padding: 16px 40px;
  font-size: 20px;
}

.frame-div329 {
  position: absolute;
  top: 146px;
  left: 40px;
  flex-direction: column;
  gap: 50px;
  text-align: left;
  font-size: 36px;
}

.group-div429,
.rectangle-div206 {
  position: relative;
  left: 0;
  width: 100%;
  margin: 0 auto;
}

.social {
  position: relative;
  height: 520px;
  background-color: #fff;
}

.group-div4291a {
  position: relative;
  top: 230px;
  height: 520px;
  background-color: #fff;
}

.group-div429 {
  text-align: center;
}

.missing-something-special-wis5 {
  position: absolute;
  top: 165px;
  left: 385px;
  line-height: 22px;
  display: inline-block;
  width: 670px;
}

.line-doc-35 {
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  overflow: hidden;
}

.even-on {
  position: absolute;
  top: 34px;
  left: 46px;
  line-height: 20px;
  display: inline-block;
  width: 100%;
}

.unlimited {
  position: absolute;
  top: 0;
  left: 46px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  color: #171717;
  display: inline-block;
}

.icongroup {
  position: relative;
  left: 0;
  width: 380px;
  height: 94px;
}

.groupmen {
  position: absolute;
  display: flex;
  top: 257px;
  left: 70px;
  width: 100%;
  height: 442px;
  text-align: left;
  font-size: 16px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 80px;
}

.all-the-features-you-need-to-c5 {
  position: absolute;
  top: 70px;
  left: 270px;
  font-size: 36px;
  line-height: 40px;
  display: inline-block;
  color: #171717;
  width: 900px;
}

.secondblock {
  position: relative;
  background-color: #fff;
}

.group-div437 {
  position: relative;
  left: 0;
  width: 100%;
  height: 769px;
  text-align: center;
  font-size: 18px;
  color: #777;
  margin: 0 auto;
}

.lorem-ipsum-dolor-sit10 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 36px;
  line-height: 40px;
  display: inline-block;
  color: #171717;
  width: 555px;
}

.datawrapper-lets-you-show-your9 {
  position: absolute;
  top: 55px;
  left: 0;
  font-size: 18px;
  line-height: 22px;
  display: inline-block;
  width: 555px;
}

.image-2-icon13,
.rectangle-div207 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  width: 555px;
}

.rectangle-div207 {
  background-color: #fff;
  height: 516px;
}

.image-2-icon13 {
  height: 378px;
  object-fit: cover;
}

.analytics-dashboard9,
.use-one-of-19-interactive-and15 {
  position: absolute;
  left: 5.41%;
  display: inline-block;
}

.use-one-of-19-interactive-and15 {
  height: 7.75%;
  width: 495px;
  top: 86.43%;
  right: 26.13%;
  bottom: 5.81%;
  line-height: 20px;
}

.analytics-dashboard9 {
  height: 5.43%;
  width: 43.96%;
  top: 79.07%;
  right: 50.63%;
  bottom: 15.5%;
  font-size: 24px;
  line-height: 28px;
  color: #171717;
}

.group-div449 {
  left: 0;
}

.group-div449,
.group-div450,
.group-div451 {
  position: absolute;
  top: 154px;
  width: 558px;
  height: 520px;

  margin-right: 20px;

  counter-increment: gallery-cell;
}

.group-div449:hover,
.group-div450:hover,
.group-div451:hover {
  border-radius: 10px;
  border: 2px solid #079f5a;
}

.group-div450 {
  left: 575px;
}

.group-div451 {
  left: 1150px;
}

.slider {
  position: relative;
  left: 40px;
  width: 100%;
  height: 670px;
  font-size: 16px;
  color: #777;
  margin: 0 auto;
}

.rectangle-div210 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  height: 317px;
}

.platform-div53 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
}

.analytics-dashboard-div38 {
  position: relative;
  line-height: 18px;
  display: inline-block;
}

.frame-div331 {
  position: absolute;
  top: 34px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
  font-size: 14px;
  color: #171717;
}

.footer-link {
  display: flex;
  flex-direction: row;
  gap: 81px;
}

.group-div453 {
  position: relative;
  top: 70px;
  left: 446px;
  width: 142px;
  height: 98px;
}

.procurement-and-logistics23 {
  position: relative;
  line-height: 18px;
  display: inline-block;
  width: 148px;
}

.rectangle-div211 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f3f3f3;
  width: 100%;
  height: 50px;
}

.envato-elements-pty-ltd-trade16 {
  position: absolute;
  line-height: 18px;
  text-align: center;
}

.footer-end {
  position: relative;
  background-color: #f3f3f3;
}

.reserved {
  display: flex;
  height: 50px;
  font-size: 14px;
  justify-content: center;
  align-items: center;
}

.smart-span33 {
  color: #171717;
}

.qsmart-div33 {
  position: absolute;
  background: url(../public/logo.svg) left center no-repeat;
  top: 70px;
  left: 40px;

  display: inline-block;
}

.duis-lorem-pulvinar-faucibus-t12 {
  position: relative;
  line-height: 20px;
  display: inline-block;
  width: 295px;
  flex-shrink: 0;
}

.frame-div336 {
  position: absolute;
  top: 80px;
  /*left: 40px;*/
  border-radius: 10px;
  background-color: #f3f3f3;
  display: flex;
  flex-direction: row;
  padding: 15px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 16px;
  color: #171717;
}

@media (max-width: 900px) {
  .frame-div336 {
    display: none;
  }
}

.footer-div {
  position: relative;
  background-color: #fff;
  height: 367px;
}

.footer-divs {
  position: relative;
  background-color: #fff;
  height: 367px;
}

.group-div4521v {
  position: relative;
  top: 1570px;
  background-color: #fff;
  height: 367px;
}

.group-div4521ex {
  position: relative;
  top: 1080px;
  background-color: #fff;
  height: 367px;
}

.group-div4521contacts {
  position: relative;
  top: 160px;
  background-color: #fff;
  height: 367px;
}

.group-divvikeroy {
  background-color: #fff;
  height: 108px;
  color: #079f5a;
}

.group-div {
  position: relative;
  top: 40px;
  left: 40px;
  width: 1360px;
  height: 48px;
  font-size: 24px;
  margin: 0 auto;
}

.frequently-asked-questions {
  position: absolute;
  top: 20px;
  left: 0;
  line-height: 28px;
  display: inline-block;
}

.line-div {
  position: absolute;
  top: -1px;
  left: -1px;
  border-top: 2px solid #079f5a;
  box-sizing: border-box;
  width: 1362px;
  height: 2px;
}

.footer {
  position: relative;
  left: 0;
  width: 100%;
  height: 317px;
  font-size: 18px;
  color: #079f5a;
  margin: 0 auto;
}

.rectangle-div212 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  box-sizing: border-box;
}

.platform-div54,
.qsmart-div34 {
  position: absolute;
  font-weight: 500;
  display: inline-block;
  color: #079f5a;
}

.qsmart-div34 {
  height: 33.33%;
  width: 10.63%;
  top: 33.33%;
  right: 86.6%;
  bottom: 33.33%;
  left: 2.78%;
  line-height: 40px;
}

.platform-div54 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 20px;
  line-height: 24px;
  font-family: "Mark Pro";
  text-align: left;
}

.platform-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 88px;
  height: 24px;
  flex-shrink: 0;
}

.solutions-div58 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
}

.about-us-div42,
.resources-div29,
.solutions-div57 {
  position: relative;
  height: 24px;
  flex-shrink: 0;
}

.solutions-div57 {
  width: 93px;
}

.resources-div29 {
  width: 99px;
}

.about-us-div42 {
  width: 88px;
}

.frame-div337 {
  position: absolute;
  height: 20%;
  width: 35.97%;
  top: 40%;
  right: 29.31%;
  bottom: 40%;
  left: 34.72%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 50px;
  font-size: 20px;
}

.secondary-button-div14 {
  border-radius: 30px;
  background-color: #f3f3f3;
  padding: 12px 30px;
  box-sizing: border-box;
  color: #171717;
}

.secondary-button-div14:hover {
  border-radius: 30px;
  background-color: #079f5a;
  color: #fff;
}

.frame-div338,
.primary-button-div14,
.secondary-button-div14 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.primary-button-div14 {
  border-radius: 30px;
  background-color: #fff;
  border: 2px solid #079f5a;
  box-sizing: border-box;
  position: relative;
  padding: 12px 30px;
  color: #079f5a;
}

.primary-button-div14:hover {
  background-color: #079f5a;
  color: #fff;
}

.frame-div338 {
  /* position: relative; */
  /* height: 40%; */
  /* width: 22.5%; */
  /* top: 30%; */
  /* right: 2.78%; */
  /* bottom: 30%; */
  /* right: 18%; */
  /* gap: 15px;
  font-size: 18px;
  padding-left: 60px; */
}

.header-div121 {
  background-color: #ffffff;
  height: 120px;
  border: 1px solid #eaeaea;
}

.header-div12 {
  position: relative;
  top: 0;
  left: 0;
  max-width: 1442px;
  height: 120px;
  font-size: 40px;
  margin: 0 auto;
}

.rectangle-div213 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  background-color: #fff;
  width: 1360px;
  height: 1415px;
}

.lorem-ipsum-dolor-sit11 {
  position: absolute;
  top: 40px;
  left: 40px;
  font-size: 36px;
  line-height: 40px;
  display: inline-block;
}

.ellipse-icon42 {
  position: absolute;
  top: 0;
  left: 0;
  width: 56px;
  height: 56px;
}

.b {
  position: absolute;
  top: 14px;
  left: 23px;
  line-height: 28px;
  display: inline-block;
}

.group-div460 {
  position: absolute;
  top: 276px;
  left: 40px;
  width: 56px;
  height: 56px;
  text-align: center;
}

.copy-your-data-from-the-web-e5 {
  position: absolute;
  top: 38px;
  left: 0;
  line-height: 22px;
  display: inline-block;
  width: 540px;
}

.copy-paste-your-data5 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 24px;
  line-height: 28px;
  display: inline-block;
  color: #171717;
}

.group-div461 {
  position: absolute;
  top: 276px;
  left: 110px;
  width: 540px;
  height: 104px;
  font-size: 18px;
  color: #777;
}

.group-div461a {
  position: absolute;
  top: 276px;
  left: 40px;
  width: calc(100% - 50%);
  height: 104px;
  font-size: 18px;
  color: #777;
}

.rectangle-icon35 {
  position: absolute;
  top: 150px;
  left: 690px;
  border-radius: 10px;
  width: calc(100% - 50%);
  height: 355px;
  object-fit: cover;
}

.b1 {
  position: absolute;
  top: 14px;
  left: 21px;
  line-height: 28px;
  display: inline-block;
}

.group-div462 {
  position: absolute;
  top: 1146px;
  left: 40px;
  width: 56px;
  height: 56px;
  text-align: center;
}

.group-div463 {
  position: absolute;
  top: 1146px;
  left: 110px;
  width: 540px;
  height: 104px;
  font-size: 18px;
  color: #777;
}

.group-div463a {
  position: absolute;
  top: 1146px;
  left: 40px;
  width: 540px;
  height: 104px;
  font-size: 18px;
  color: #777;
}

.rectangle-icon36 {
  position: absolute;
  top: 1020px;
  left: 690px;
  border-radius: 10px;
  width: 630px;
  height: 355px;
  object-fit: cover;
}

.group-div464 {
  position: absolute;
  top: 723px;
  left: 40px;
  width: 56px;
  height: 56px;
  text-align: center;
}

.group-div465 {
  position: absolute;
  top: 722px;
  left: 110px;
  width: 540px;
  height: 82px;
  font-size: 18px;
  color: #777;
}

.group-div465a {
  position: absolute;
  top: 722px;
  left: 40px;
  width: 540px;
  height: 82px;
  font-size: 18px;
  color: #777;
}

@media (max-width: 900px) {
  .datawrapper-lets-you-show-your7 {
    position: absolute;
    height: 17.71%;
    width: 375px;
    top: 8.65%;
    right: 4.46%;
    bottom: 73.64%;
    left: 0;
    line-height: 22px;
    color: #777;
    display: inline-block;
  }

  .group-div {
    position: relative;
    top: 16px;
    left: 16px;
    width: 343px;
    height: 38px;
    font-size: 24px;
    margin: 0;
    line-height: 28px;
  }

  .qsmart-div33 {
    position: absolute;
    background: url(../public/logo.svg) left center no-repeat;
    top: 30px;
    left: 16px;
    display: inline-block;
  }

  .footer-div {
    position: relative;
    background-color: #fff;
    height: 675px;
  }

  .footer {
    position: relative;
    left: 0;
    width: 100%;
    height: 625px;
    font-size: 18px;
    color: #079f5a;
    margin: 0 auto;
  }

  .footer-link {
    display: flex;
    gap: 40px;
    flex-direction: row;
    width: 375px;
    flex-wrap: wrap;
  }

  .group-div453 {
    position: relative;
    top: 100px;
    left: 16px;
    width: 142px;
    height: 160px;
  }

  .all-the-features-you-need-to-c5 {
    position: absolute;
    top: 40px;
    left: 16px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    display: inline-block;
    color: #171717;
    text-align: left;
    width: 343px;
    height: 112px;
  }

  .missing-something-special-wis5 {
    position: absolute;
    top: 160px;
    left: 16px;
    line-height: 22px;
    display: inline-block;
    width: 343px;
    height: 44px;
    text-align: left;
  }

  .groupmen {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 240px;
    text-align: left;
    font-size: 16px;
    gap: 30px;
    width: 100%;
    height: 1080px;
    left: 16px;
  }

  .icongroup {
    position: relative;
    left: 0;
    width: 343px;
    height: 90px;
  }

  .even-on {
    position: absolute;
    top: 30px;
    left: 46px;
    line-height: 20px;
    display: inline-block;
    width: 290px;
    font-size: 14px;
  }

  .group-div437 {
    position: relative;
    left: 0;
    width: 100%;
    height: 1300px;
    text-align: center;
    font-size: 18px;
    color: #777;
    margin: 0 auto;
  }

  .primary-big-button10a {
    display: none;
  }

  .frame-div329 {
    position: absolute;
    top: 30px;
    left: 16px;
    flex-direction: column;
    gap: 50px;
    text-align: left;
    font-size: 24px;
    line-height: 28px;
  }

  .procurement-and-logistics22 {
    position: relative;
    display: inline-block;
    width: 343px;
  }

  .datawrapper-lets-you-show-your8 {
    position: relative;
    font-size: 18px;
    line-height: 22px;
    color: #777;
    display: inline-block;
    width: 343px;
  }

  .divjs {
    position: relative;
    display: flex;
    top: 214px;
    left: 16px;
    width: 100%;
    gap: 9px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .group-div431 {
    position: relative;
    top: 0;
    left: 0;
    width: 128px;
    height: 117px;
  }

  .rectangle-div200 {
    border-radius: 10px;
    width: 128px;
    height: 117px;
    background: url(../public/group-44.svg) top 20px center no-repeat;
    background-color: #f3f3f3;
  }

  .rectangle-div200:hover,
  .rectangle-div200:focus {
    border: 2px solid #171717;
    box-sizing: border-box;
    background: url(../public/group-45.svg) top 19px center no-repeat;
    background-color: #079f5a;
  }

  .sales-div20 {
    position: absolute;
    top: 80px;
    left: 16px;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 96px;
  }

  .social {
    position: relative;
    background-color: #fff;
  }

  .group-div4291a {
    position: relative;
    top: 230px;
    height: 391px;
    background-color: #fff;
  }

  .group-div429 {
    height: 391px;
    text-align: center;
  }

  .rectangle-div199 {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 391px;
  }

  .slider {
    position: relative;
    left: 0;
    width: 343px;
    height: 485px;
    font-size: 14px;
    color: #777;
    margin: 0 auto;
  }

  .lorem-ipsum-dolor-sit10 {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 24px;
    line-height: 28px;
    display: inline-block;
    color: #171717;
    width: 555px;
  }

  .datawrapper-lets-you-show-your9 {
    position: absolute;
    top: 38px;
    left: 0;
    font-size: 18px;
    line-height: 22px;
    display: inline-block;
    width: 343px;
  }

  .image-2-icon13,
  .rectangle-div207 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    width: 304px;
  }

  .rectangle-div207 {
    background-color: #fff;
    height: 304px;
  }

  .image-2-icon13 {
    height: 207px;
    object-fit: cover;
  }

  .group-div449,
  .group-div450,
  .group-div451 {
    position: absolute;
    top: 181px;
    width: 308px;
    height: 308px;
    margin-right: 9px;
    counter-increment: gallery-cell;
  }

  .analytics-dashboard9 {
    height: 24px;
    width: 272px;
    top: 223px;
    font-size: 18px;
    line-height: 24px;
    color: #171717;
  }

  .use-one-of-19-interactive-and15 {
    height: 36px;
    width: 272px;
    top: 252px;
    line-height: 20px;
  }
}

.rectangle-icon37 {
  position: absolute;
  top: 585px;
  left: 690px;
  border-radius: 10px;
  width: 630px;
  height: 355px;
  object-fit: cover;
}

.line-div50,
.line-div51,
.line-div52 {
  position: absolute;
  top: 95.5px;
  left: 39.5px;
  border-top: 1px solid #eaeaea;
  box-sizing: border-box;
  width: 1281px;
  height: 1px;
}

.line-div51,
.line-div52 {
  top: 544.5px;
  left: 109.5px;
  width: 1211px;
}

.line-div52 {
  top: 979.5px;
}

.group-div459a {
  position: relative;
  margin: 0 auto;
}

.group-icon31,
.group-icon32 {
  position: absolute;
  top: 352px;
  left: 62px;
  width: 12px;
  height: 351px;
}

.group-icon32 {
  top: 799px;
  height: 327px;
}

.second-div {
  position: relative;
  margin: 0 auto;
  left: 40px;
  width: 100%;
  height: 1415px;
  font-size: 24px;
}

.group-div459a {
  top: -10px;
  left: 40px;
  width: 100%;
  height: 1415px;
  font-size: 24px;
}

.main {
  position: relative;
  display: flex;
  background-color: #f3f3f3;
  width: 100%;
  overflow: hidden;
  text-align: left;
  font-size: 20px;
  color: #171717;
  font-family: "Mark Pro";
  letter-spacing: -0.01em;
  flex-direction: column;
  gap: 120px;
}

@media (max-width: 900px) {
  .main {
    gap: 70px;
    overflow: 0;
  }
}

.sales-div {
  position: relative;
  line-height: 20px;
  display: inline-block;
}

.frame-div {
  position: relative;
  border-radius: 0 0 10px 10px;
  background-color: #fff;
  border-top: 0 solid #eaeaea;
  border-right: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  border-left: 1px solid #eaeaea;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 14px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: left;
  font-size: 16px;
  color: #171717;
  font-family: "Mark Pro";
  letter-spacing: -0.01em;
}

/* external css: flickity.css */

.gallery-cell {
  width: 66%;
  height: 200px;
  margin-right: 10px;
  background: #8c8;
  counter-increment: gallery-cell;
}

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.navbar-brand {
  width: 158px;
  background: url(../public/logo.svg) left center no-repeat;
  text-indent: -99999px;
  float: left;
  height: 50px;
  padding: 59px 15px;
  font-size: 18px;
  line-height: 20px;
}

.footer-brand {
  width: 158px;
  background: url(../public/logo.svg) left center no-repeat;
  text-indent: -99999px;
  float: left;
  height: 50px;
}

.navbar {
  margin-bottom: 0;
  background: rgba(0, 0, 0, 0.65);
  border: 0;
  -o-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -ms-transition: all 0.6s;
  transition: all 0.6s;
  border-radius: 0;
}

/* Style The Dropdown Button */
.dropbtn {
  color: white;
  padding: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 250px;
  text-align: left;
  z-index: 1;
  font-size: 16px;
  font-weight: 450;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #eaeaea;
  border-radius: 0px 0px 10px 10px;
  padding-bottom: 8px;
}

.dropdown-content a {
  color: #171717;
  padding: 7px 20px;
  text-decoration: none;
  display: block;
}

@media (max-width: 900px) {
  .dropbtn {
    color: white;
    padding: 16px;
    border: none;
    cursor: pointer;
    text-align: left;
    font-weight: 500;
    font-size: 20px;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: #079f5a;
  }

  .dropdown-content {
    display: none;
    position: relative;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
  }

  .dropdown-content a {
    color: #777;

    text-decoration: none;
    display: block;
  }

  .navbar-inverse .navbar-nav > li > a {
    color: #777;
  }

  .frame-div338,
  .primary-button-div14,
  .secondary-button-div14 {
    display: none;
  }

  .platform {
    position: relative;
    margin: 0 auto;
    left: 16px;
    width: 100%;
    height: 591px;
  }

  .group-icon31,
  .group-icon32 {
    display: none;
  }

  .navbar-inverse .navbar-nav > li > a {
    color: #171717;
    background: url(../public/chevron.svg) right 16px center no-repeat;
  }

  .lorem-ipsum-dolor-sit11 {
    position: absolute;
    top: 40px;
    left: 16px;
    font-size: 24px;
    line-height: 40px;
    display: inline-block;
  }

  .rectangle-div213 {
    position: absolute;
    /* top: 0; */
    /* left: 0; */
    border-radius: 0px;
    background-color: #fff;
    width: 100%;
    height: 1253px;
  }

  .second-div {
    position: relative;
    margin: 0 auto;
    left: 0;
    width: 100%;
    height: 1253px;
    font-size: 24px;
  }

  .ellipse-icon42 {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
  }

  .b {
    position: absolute;
    top: 1px;
    left: 11.5px;
    line-height: 28px;
    display: inline-block;
    font-size: 14px;
  }

  .b1 {
    position: absolute;
    top: 1px;
    left: 11px;
    line-height: 28px;
    display: inline-block;
    font-size: 14px;
  }

  .group-div460 {
    position: absolute;
    top: 130px;
    left: 16px;
    width: 30px;
    height: 30px;
    text-align: center;
  }

  .group-div461 {
    position: absolute;
    top: 130px;
    left: 56px;
    width: 375px;
    /* height: 80px; */
    font-size: 16px;
    /* line-height: 20px; */
    color: #777;
  }

  .group-div465 {
    position: absolute;
    top: 516px;
    left: 56px;
    width: 375px;
    /* height: 80px; */
    font-size: 16px;
    /* line-height: 20px; */
    color: #777;
  }

  .group-div463 {
    position: absolute;
    top: 896px;
    left: 56px;
    width: 375px;
    /* height: 80px; */
    font-size: 16px;
    /* line-height: 20px; */
    color: #777;
  }

  .group-div464 {
    position: absolute;
    top: 514px;
    left: 16px;
    width: 30px;
    height: 30px;
    text-align: center;
  }

  .copy-paste-your-data5 {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 18px;
    line-height: 24px;
    display: inline-block;
    color: #171717;
  }

  .copy-your-data-from-the-web-e5 {
    position: absolute;
    top: 30px;
    left: 0;
    line-height: 20px;
    display: inline-block;
    width: 300px;
  }

  .rectangle-icon35 {
    position: absolute;
    top: 260px;
    border-radius: 10px;
    width: 343px;
    height: 193.28px;
    left: 16px;
    object-fit: cover;
  }

  .rectangle-icon36 {
    position: absolute;
    top: 1020px;
    border-radius: 10px;
    width: 343px;
    height: 193.28px;
    left: 16px;
    object-fit: cover;
  }

  .rectangle-icon37 {
    position: absolute;
    top: 642px;
    border-radius: 10px;
    width: 343px;
    height: 193.28px;
    left: 16px;
    object-fit: cover;
  }

  .line-div50,
  .line-div51,
  .line-div52 {
    position: absolute;
    top: 99.5px;
    left: 16px;
    border-top: 1px solid #eaeaea;
    box-sizing: border-box;
    width: 343px;
    height: 1px;
  }

  .line-div51,
  .line-div52 {
    top: 483px;
    left: 16px;
    width: 343px;
  }

  .line-div52 {
    top: 865px;
  }

  .group-div462 {
    position: absolute;
    top: 894px;
    left: 16px;
    width: 30px;
    height: 30px;
    text-align: center;
  }
}

/* Links inside the dropdown */

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.navigation {
  position: relative;
  width: 100%;
  background-color: #fff;
  margin: 0 auto;
}

.i1_787_1_2336 {
  overflow: hidden;
}

.ei1_787_1_2336 {
  width: 100%;
  height: 48px;
  position: relative;
  margin: 0 auto;
}

.ei1_787_1_2337 {
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  height: 48px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.ei1_787_1_2338 {
  width: 317px;
  height: 18px;
  position: absolute;
  left: 40px;
  top: 15px;
}

.ei1_787_1_2339 {
  color: rgba(23.000000528991222, 23.000000528991222, 23.000000528991222, 1);
  width: 79px;
  height: 18px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Mark Pro;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
  line-height: px;
}

.ei1_787_1_2340 {
  color: rgba(23.000000528991222, 23.000000528991222, 23.000000528991222, 1);
  width: 7px;
  height: 18px;
  position: absolute;
  left: 84px;
  top: 0px;
  font-family: Mark Pro;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
  line-height: px;
}

.ei1_787_1_2341 {
  color: rgba(23.000000528991222, 23.000000528991222, 23.000000528991222, 1);
  width: 62px;
  height: 18px;
  position: absolute;
  left: 96px;
  top: 0px;
  font-family: Mark Pro;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
  line-height: px;
}

.ei1_787_1_2342 {
  color: rgba(23.000000528991222, 23.000000528991222, 23.000000528991222, 1);
  width: 7px;
  height: 18px;
  position: absolute;
  left: 163px;
  top: 0px;
  font-family: Mark Pro;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
  line-height: px;
}

.ei1_787_1_2343 {
  color: rgba(42.000001296401024, 180.00000447034836, 117.00000062584877, 1);
  width: 142px;
  height: 18px;
  position: absolute;
  left: 175px;
  top: 0px;
  font-weight: 450;
  font-family: Mark Pro;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
  line-height: px;
}

.ei1_787_1_23435 {
  color: rgba(42.000001296401024, 180.00000447034836, 117.00000062584877, 1);
  width: 142px;
  height: 18px;
  position: absolute;
  left: 98px;
  top: 0px;
  font-weight: 450;
  font-family: Mark Pro;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
  line-height: px;
}

.group-div27 {
  position: relative;
  /* top: 168px; */
  left: 0;
  width: 100%;
  height: 540px;
  font-size: 56px;
  color: #f3f3f3;
  margin: 0 auto;
}

.image-3-icon {
  position: absolute;
  top: 73px;
  border-radius: 10px;
  width: calc(100% - 53%);
  height: 394px;
  object-fit: contain;
}

.frame-div6 {
  position: absolute;
  top: calc(50% - 100px);
  left: 40px;
  flex-direction: column;
  gap: 50px;
}

.frame-div7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  gap: 20px;
}

.analytics-dashboard-div2 {
  position: relative;
  line-height: 60px;
  font-weight: 500;
  display: inline-block;
  width: 619px;
}

.lorem-ipsum-dolor-sit-amet-co {
  position: relative;
  font-size: 18px;
  line-height: 22px;
  display: inline-block;
  width: 440px;
}

.primary-big-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  border-radius: 30px;
  flex-direction: row;
}

.frame-div6,
.primary-big-button,
.primary-big-button1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.primary-big-button1 {
  border-radius: 30px;
  background-color: #fff;
  flex-direction: row;
  padding: 16px 40px;
  box-sizing: border-box;
}

.analyze-now-div {
  position: relative;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  font-family: "Mark Pro";
  color: #079f5a;
  text-align: left;
  display: inline-block;
}

.group-div28 {
  position: relative;
  top: -250px;
  left: 266px;
  width: 890px;
  /* height: 200px; */
  font-size: 36px;
  color: #fff;
  margin: 0 auto;
}

.rectangle-div8 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px 0 0 10px;
  background-color: #079f5a;
  width: 890px;
  height: 200px;
}

.meet-the-companies-transformin {
  position: absolute;
  top: 40px;
  left: 40px;
  line-height: 40px;
  display: inline-block;
  width: 580px;
}

.group-div7122 {
  position: relative;
  display: flex;
  top: 70px;
  margin: 0 auto;
  flex-direction: row;
  height: 200px;
}

.group-div7122s {
  position: relative;
  display: flex;
  top: 115px;
  margin: 0 auto;
  flex-direction: row;
  height: 219px;
}

.flex-3 {
  width: 50%;
}

.flex-4 {
  width: 50%;
  background-color: #079f5a;
}

.flex-5 {
  width: 50%;
  background-color: #fff;
  border-top: 2px solid #079f5a;
  border-bottom: 2px solid #079f5a;
}

.flex-6 {
  width: 50%;
}

.video {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.videos {
  position: relative;
  width: 100%;
  margin: 0 auto;
  height: 800px;
}

.frame-div01 {
  width: 116px;
  height: 40px;
  border-radius: 50px;
  background-color: #fff;
  border: 1px solid #079f5a;
  box-sizing: border-box;
  padding: 7px 20px;
  color: #079f5a;
  cursor: pointer;
}

.catch-up {
  position: relative;
  left: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.catch-up-div {
  font-weight: 450;
  font-size: 16px;
}

.play {
  display: flex;
  position: relative;
  top: 20px;
  left: 40px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.group-div01 {
  position: relative;
  width: 440px;
  height: 394px;
  font-size: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.rectangle-div01 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  background-color: #fff;
  width: 440px;
  height: 394px;
}

.the-new-oil-episode-1-the-st {
  position: absolute;
  top: 302px;
  left: 20px;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
}

.frame-div09 {
  position: absolute;
  top: 262px;
  left: 20px;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #079f5a;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: 8px 16px;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 12px;
  color: #079f5a;
}

.catch-up-div08 {
  position: relative;
  line-height: 14px;
  display: inline-block;
}

.share-android-icon0 {
  position: absolute;
  top: 265px;
  left: 396px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}

.rectangle-icon0 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px 10px 0 0;
  width: 440px;
  height: 247px;
  object-fit: cover;
}

.group-icon0 {
  position: absolute;
  top: 92px;
  left: 188px;
  width: 64px;
  height: 64px;
  cursor: pointer;
}

.view-more-div {
  text-decoration: underline;
  line-height: 20px;
  font-weight: 500;
  text-align: center;
  display: inline-block;
  position: relative;
  margin-top: -100px;
  color: #079f5a;
}

.view-more {
  top: 940px;
  left: 780px;
  text-decoration: underline;
  line-height: 20px;
  font-weight: 500;
  text-align: center;
  display: inline-block;
  position: absolute;
  color: #079f5a;
}

.videobox {
  display: none;
  justify-content: center;
  align-content: center;
}

#fade {
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.8;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

#light {
  display: none;
  box-sizing: border-box;
  position: fixed;
  width: 946px;
  height: 556px;
  top: 14%;
  background: #ffffff;
  border: 2px solid #079f5a;
  border-radius: 10px;
  max-width: 946px;
  max-height: 556px;
  z-index: 1002;
  overflow: visible;
}

#boxclose {
  float: right;
  cursor: pointer;
  color: #000;
  font-size: 60px;
  display: inline-block;
  line-height: 0px;
  padding: 26px 14px;
  position: absolute;
  right: 2px;
  top: 2px;
  z-index: 1002;
  opacity: 0.9;
}

.boxclose:before {
  content: "×";
}

/************/
.facebook-div {
  width: calc(100% - 32px);
  top: 70px;
  text-decoration: underline;
}

.copy-link-div,
.facebook-div,
.instagram-div,
.share-div1,
.twitter-div {
  position: absolute;
  left: 16px;
  line-height: 18px;
  display: inline-block;
}

.share-div1 {
  width: calc(100% - 59px);
  top: 19px;
  font-weight: 500;
  color: #171717;
}

.copy-link-div,
.instagram-div,
.twitter-div {
  width: calc(100% - 32px);
  top: 103px;
  text-decoration: underline;
}

.copy-link-div,
.twitter-div {
  top: 136px;
}

.copy-link-div {
  top: 169px;
}

.dismiss-icon {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}

.line-div2 {
  position: absolute;
  width: calc(100% + 1px);
  top: 54.5px;
  right: -0.5px;
  left: -0.5px;
  border-top: 1px solid #079f5a;
  box-sizing: border-box;
  height: 1px;
}

.share-div {
  position: relative;
  display: none;
  left: 256px;
  top: 248px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  border: 1px solid #079f5a;
  box-sizing: border-box;
  width: 180px;
  height: 203px;
  overflow: hidden;
  text-align: left;
  font-size: 14px;
  color: #777;
  z-index: 1;
}

.share-div a {
  color: #777;
}

@media (max-width: 900px) {
  .primary-big-button,
  .primary-big-button1 {
    display: none;
  }

  .group-div27 {
    position: relative;
    /* top: 168px; */
    left: 0;
    width: 375px;
    height: 494px;
    font-size: 36px;
    color: #f3f3f3;
    margin: 0 auto;
  }

  .image-3-icon {
    position: absolute;
    top: 252px;
    left: 16px;
    border-radius: 10px;
    width: 343px;
    height: 202px;
    object-fit: contain;
  }

  .frame-div6 {
    position: absolute;
    top: 30px;
    left: 16px;
    flex-direction: column;
    gap: 50px;
  }

  .analytics-dashboard-div2 {
    position: relative;
    line-height: 42px;
    font-weight: 500;
    display: inline-block;
    width: 343px;
    height: 84px;
  }

  .lorem-ipsum-dolor-sit-amet-co {
    position: relative;
    font-size: 18px;
    line-height: 22px;
    display: inline-block;
    width: 343px;
    height: 88px;
  }

  .group-div28 {
    position: relative;
    top: -104px;
    left: 16px;
    width: 359px;
    /* height: 200px; */
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    margin: 0;
  }

  .meet-the-companies-transformin {
    position: absolute;
    top: 16px;
    left: 16px;
    line-height: 24px;
    display: inline-block;
    width: 327px;
  }

  .rectangle-div8 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px 0 0 10px;
    background-color: #079f5a;
    width: 359px;
    height: 104px;
  }

  .group-div7122 {
    height: 104px;
  }

  .group-div461a {
    position: absolute;
    top: 114px;
    left: 16px;
    width: 540px;
    height: 104px;
    font-size: 18px;
    color: #777;
  }

  .group-div465a {
    position: absolute;
    top: 505px;
    left: 16px;
    width: 540px;
    height: 104px;
    font-size: 18px;
    color: #777;
  }

  .group-div463a {
    position: absolute;
    top: 886px;
    left: 16px;
    width: 540px;
    height: 82px;
    font-size: 18px;
    color: #777;
  }

  .group-div7122s {
    height: 182px;
  }

  .ei1_787_1_2336 {
    width: 375px;
    height: 44px;
  }

  .ei1_787_1_2337 {
    width: 375px;
    height: 44px;
  }

  .ei1_787_1_2338 {
    width: 317px;
    height: 18px;
    position: absolute;
    left: 16px;
    top: 12px;
  }

  .navigation {
    position: relative;
    width: 100%;
    background-color: #fff;
    margin: 0 auto;
    border-bottom: 1px solid transparent;
    border-color: #eaeaea;
  }

  .line-div {
    position: absolute;
    top: 0;
    left: 0;
    border-top: 2px solid #079f5a;
    box-sizing: border-box;
    width: 343px;
    height: 2px;
  }

  .frequently-asked-questions {
    position: absolute;
    top: 10px;
    left: 0;
    line-height: 28px;
    display: inline-block;
  }

  .frame-div12 {
    display: none;
  }

  .group-divvikeroy {
    height: 70px;
  }

  .catch-up {
    position: relative;
    left: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
  }

  .play {
    left: 16px;
    display: flex;
    position: relative;
    top: 20px;
    flex-direction: column;
    justify-content: flex-start;
  }

  .group-div01 {
    position: relative;
    width: 343px;
    height: 341px;
    font-size: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .rectangle-div01 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    background-color: #fff;
    width: 343px;
    height: 341px;
  }

  .rectangle-icon0 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px 10px 0 0;
    width: 343px;
    height: 191px;
    object-fit: cover;
  }

  .frame-div09 {
    position: absolute;
    top: 207px;
    left: 16px;
  }

  .the-new-oil-episode-1-the-st {
    position: absolute;
    top: 254px;
    left: 16px;
    line-height: 24px;
    font-weight: 500;
    display: inline-block;
    width: 311px;
  }

  .group-icon0 {
    position: absolute;
    top: 60px;
    left: 140px;
    width: 64px;
    height: 64px;
    cursor: pointer;
  }

  .share-android-icon0 {
    position: absolute;
    top: 208px;
    left: 304px;
    width: 24px;
    height: 24px;
    overflow: hidden;
  }

  .share-div {
    position: relative;
    display: none;
    left: 164px;
    top: 191px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 20px rgb(0 0 0 / 15%);
    border: 1px solid #079f5a;
    box-sizing: border-box;
    width: 180px;
    height: 203px;
    overflow: hidden;
    text-align: left;
    font-size: 14px;
    color: #777;
    z-index: 1;
  }

  .view-more-div {
    margin-top: 0;
  }

  .videos {
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: auto;
  }

  .div73 {
    position: relative;
    display: block;
    top: 104px;
    left: 0;
    width: 440px;
    height: 440px;
    cursor: pointer;
    transform: rotate(90deg);
  }

  .platmeny {
    display: flex;
    gap: 20px;
    position: relative;
    top: 45px;
    /* left: 0; */
    width: 69vh;
    height: 100%;
    /* height: calc(100vw); */
    overflow: scroll;
    transform: rotate(-90deg);
    transform-origin: center calc(50vh);
    flex-direction: row;
    flex-wrap: wrap;
  }
}

/******************/

/* ____________________________________________ Change fixed ____________________________________________*/

/* 1200 Media screen  */

.frame-div338 {
  margin: 0 !important;
}

@media (max-width: 1199.9px) {
  .enrich-your-stories-with-chart1 {
    font-size: 43px;
    width: 500px;
  }
  .analytics-dashboard-div2 {
    width: 557px;
  }
}

/* 992 Media screen  */
@media (max-width: 991.9px) {
  .enrich-your-stories-with-chart1 {
    width: 100%;
    font-size: 37px;
  }
  .group-icon21.animate {
    margin-top: 35px;
  }
  .group-div27{
    width: 100%;
  }
  .copy-your-data-from-the-web-e5{
    width: 100%;
  }
  .flex-4{
    width: 79%;
  }
}

/* 768 Media screen  */
@media (max-width: 767.9px) {
 
}

/* 576 Media screen  */
@media (max-width: 575.9px) {
  .analytics-dashboard-div2 {
    font-size: 25px;
    width: 100%;
  }
  .lorem-ipsum-dolor-sit-amet-co {
    width: 100%;
    font-size: 17px;
  }
  .image-3-icon{
    width: 300px;
  }
}
