@import url("https://fonts.cdnfonts.com/css/mark-pro");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Mark Pro', sans-serif;
}

:root {
  --textColor:#171717;
  --green:#079F5A;
  --white:#ffffff;
  --bodyColor:#f3f3f3;
  --gray:#777777;
}

body {
  background-color: var(--bodyColor);
}

main {
  max-width: 1360px;
  margin: 0 auto;
}

.owl-dots {
  display: none;
}

.owl-nav {
  display: none;
}

header {
  width: 100%;
  height: 100vh;
  background-color: var(--white);
}

header nav {
  width: 100%;
  height: 13vh;
}

header nav .container-fluid {
  background-color: white;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  margin-right: 73px;
  margin-top: 15px;
}

header nav ul .nav-link {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: var(--textColor);
}

header nav .headBtn1 {
  width: 114px;
  height: 48px;
  border-radius: 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  background-color: var(--bodyColor);
  color: var(--textColor);
  margin-right: 20px;
  border: none;
}

header nav .headBtn2 {
  width: 175px;
  height: 48px;
  border: 2px solid var(--green);
  border-radius: 30px;
  color: var(--green);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  background-color: var(--white);
}

header .active {
  color: var(--green) !important;
}

header .navbar-nav {
  margin-left: auto;
}

header .container-fluid {
  padding: 40px;
}

header .header_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 80px 128px 0 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header_body h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 70px;
  max-width: 670px;
  color: var(--textColor);
  margin-bottom: 90px;
}

header .header_body button {
  width: 208px;
  height: 56px;
  border-radius: 30px;
  background-color: var(--green);
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: var(--white);
}

.section1 .section1head h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  margin-top: 120px;
}

.section1 .section1head p {
  font-style: normal;
  font-weight: 450;
  font-size: 18px;
  line-height: 22px;
  color: var(--gray);
  max-width: 440px;
  margin-bottom: 30px;
  margin-top: 15px;
}

.section1 .chartContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  position: relative;
  overflow-x: auto;
  height: 490px;
  gap: 20px;
  margin-bottom: 120px;
}

.section1 .chartContainer .chart_card {
  width: 440px;
  height: 440px;
  background-color: var(--white);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 14px;
}

.section1 .chartContainer .chart_card h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-top: 16px;
  width: 100%;
  text-align: start;
  padding: 0 30px;
}

.section1 .chartContainer .chart_card p {
  color: var(--textColor);
  font-style: normal;
  font-weight: 450;
  font-size: 16px;
  line-height: 20px;
  padding: 0 30px;
}

.section1 .chartContainer .chart_card img {
  width: 380px;
}

.skill {
  width: 100%;
  padding: 40px 0;
  background-color: var(--green);
  color: var(--white);
  text-align: center;
  margin-bottom: 120px;
}

.skill h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  padding-top: 40px;
  margin-bottom: 14px;
}

.skill p {
  font-style: normal;
  font-weight: 450;
  font-size: 18px;
  line-height: 22px;
}

.dataContainer {
  background-color: var(--white);
  padding: 40px;
  border-radius: 10px;
  margin-bottom: 120px;
}

.dataContainer hr {
  max-width: 1210px;
  margin: 0 auto;
  border-color: #eaeaea;
  height: 1px;
}

.dataContainer h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  color: var(--textColor);
  padding-bottom: 20px;
  border-bottom: 1px solid #eaeaea;
}

.dataContainer .dataCards .dataCard {
  padding: 50px 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dataContainer .dataCards .dataCard img {
  max-width: 630px;
}

.dataContainer .dataCards .dataCard .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 14px;
  position: relative;
}

.dataContainer .dataCards .dataCard .text img {
  position: absolute;
  top: 86px;
  left: 23px;
}

.dataContainer .dataCards .dataCard .text .number p {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: var(--textColor);
  border-radius: 50%;
  background: var(--green);
  border: 2px solid var(--textColor);
  width: 56px;
  height: 56px;
  text-align: center;
  padding-top: 12px;
}

.dataContainer .dataCards .dataCard p {
  font-style: normal;
  font-weight: 450;
  font-size: 18px;
  line-height: 22px;
  color: var(--gray);
  margin-top: 10px;
}

.dataContainer .dataCards .dataCard h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.section2 {
  padding: 70px 0;
  background-color: var(--white);
  margin-bottom: 120px;
}

.section2 .section2Head {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section2 .section2Head h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 15px;
  max-width: 900px;
}

.section2 .section2Head p {
  font-style: normal;
  font-weight: 450;
  font-size: 18px;
  line-height: 22px;
  color: var(--gray);
}

.section2 .card9container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 70px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 80px;
  max-width: 1300px;
  margin: 70px auto 0;
}

.section2 .card9container .sec2Card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  width: 370px;
  height: 100px;
}

.section2 .card9container h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: var(--textColor);
  margin-bottom: 10px;
}

.section2 .card9container p {
  font-style: normal;
  font-weight: 450;
  font-size: 16px;
  line-height: 20px;
  color: var(--gray);
}

.section3 {
  background-color: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 120px;
}

.section3 .text h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
}

.section3 .text p {
  font-style: normal;
  font-weight: 450;
  font-size: 18px;
  line-height: 22px;
  color: var(--gray);
  margin-top: 15px;
  margin-bottom: 50px;
  max-width: 555px;
}

.section3 .text button {
  width: 201.97px;
  height: 56px;
  background: var(--green);
  border: 2px solid var(--textColor);
  border-radius: 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: var(--textColor);
}

.section3 .card6container {
  width: 670px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section3 .card6container .card {
  width: 210px;
  height: 210px;
  background-color: var(--bodyColor);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 37px;
  gap: 32px;
  border-radius: 10px;
}

.section3 .card6container .card h3 {
  width: 150px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.section3 .card6container .card:last-child {
  background-color: var(--green);
}

.slider_container {
  padding-left: 40px;
  margin-bottom: 120px;
}

.slider_container .slider_head h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  color: var(--textColor);
  margin-bottom: 15px;
}

.slider_container .slider_head p {
  font-style: normal;
  font-weight: 450;
  font-size: 18px;
  line-height: 22px;
  color: var(--gray);
  margin-bottom: 33px;
}

.slider_container .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.slider_container .slider_card {
  width: 555px;
  padding-bottom: 50px;
  background-color: var(--white);
  border-radius: 10px;
}

.slider_container .slider_card img {
  width: 100%;
  margin-bottom: 30px;
}

.slider_container .slider_card h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: var(--textColor);
  margin-bottom: 10px;
  padding: 0 30px;
}

.slider_container .slider_card p {
  font-style: normal;
  font-weight: 450;
  font-size: 16px;
  line-height: 20px;
  color: var(--gray);
  padding: 0 30px;
}

footer .container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 81px;
}

footer .footer_about {
  background-color: var(--white);
  padding: 70px 40px 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer_about .footer_card p {
  margin-top: 45px;
  font-style: normal;
  font-weight: 450;
  font-size: 16px;
  line-height: 20px;
  color: var(--textColor);
  padding: 15px;
  width: 325px;
  background-color: var(--bodyColor);
}

footer .footer_about .footer_card h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: var(--green);
  margin-bottom: 10px;
}

footer .footer_about .footer_card ul {
  list-style: none;
  border-bottom: 10px;
  margin-left: -30px;
}

footer .footer_about .footer_card ul li {
  max-width: 148px;
}

footer .footer_about .footer_card ul a {
  text-decoration: none;
  font-style: normal;
  font-weight: 450;
  font-size: 14px;
  line-height: 18px;
  color: var(--textColor);
  margin-bottom: 5px;
}

footer .footer_food {
  height: 50px;
  padding-top: 16px;
}

footer .footer_food p {
  font-style: normal;
  font-weight: 450;
  font-size: 14px;
  line-height: 18px;
  color: var(--textColor);
  text-align: center;
}

@media screen and (max-width: 1210px) {
  header nav ul {
    gap: 20px;
    margin-right: 43px;
  }
}

@media screen and (max-width: 1100px) {
  header nav ul .nav-link {
    font-size: 17px;
  }
  header nav .headBtn1 {
    width: 100px;
    font-size: 16px;
    margin-right: 15px;
  }
  header nav .headBtn2 {
    width: 150px;
    height: 48px;
    font-size: 16px;
  }
}

@media screen and (max-width: 1190px) {
  header .header_body h1 {
    font-size: 40px;
    max-width: 500px;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 978px) {
  header nav ul {
    gap: 5px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    text-align: start;
  }
  header nav ul .dropdown-menu {
    border: none;
  }
  header nav .headBtns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .header_body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 40px;
  }
  header .header_body h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  header .header_body button {
    display: block;
    margin: 0 auto;
  }
}

@media screen and (max-width: 468px) {
  header .header_body {
    gap: 30px;
  }
  header .header_body h1 {
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
  }
  header .header_body button {
    display: none;
  }
  header .header_body img {
    width: 100%;
  }
  .skill h2 {
    font-size: 24px;
    margin-bottom: 19px;
  }
}

@media screen and (max-width: 380px) {
  .section1 .chartContainer .chart_card {
    width: 300px;
  }
  .section1 .chartContainer .chart_card img {
    width: 300px;
  }
}

@media screen and (max-width: 1100px) {
  .dataContainer .text img {
    display: none;
  }
  .dataContainer img {
    width: 500px;
  }
}

@media screen and (max-width: 900px) {
  .dataContainer .dataCard {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  .dataContainer {
    padding: 0;
  }
  .dataContainer .dataCard .text h3 {
    font-size: 18px;
  }
  .dataContainer .dataCard .text p {
    font-size: 16px;
  }
  .dataContainer .dataCard .text .number p {
    font-size: 14px !important;
    width: 30px !important;
    height: 30px !important;
    padding-top: 0px !important;
  }
  .dataContainer .dataCard img {
    width: 100%;
  }
  .section2 {
    padding: 40px 16px;
  }
  .section2 .section2Head h2 {
    font-weight: 700;
    font-size: 24px;
    text-align: start;
  }
  .section2 .section2Head p {
    font-weight: 450;
    font-size: 18px;
    text-align: start;
  }
  .section2 .card9container {
    margin-top: 46px;
    gap: 30px;
    max-width: 1300px;
  }
  .section2 .card9container h3 {
    font-size: 20px;
  }
  .section2 .card9container p {
    font-size: 14px;
  }
}

@media screen and (max-width: 1027px) {
  .section3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
  }
  .section3 .card6container {
    width: 100%;
  }
}

@media screen and (max-width: 575px) {
  .section3 h2 {
    font-size: 24px;
  }
  .section3 p {
    font-size: 18px;
  }
  .section3 .card6container {
    position: relative;
    width: 300px;
    height: 230px;
    overflow: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (max-width: 1700px) {
  .owl-carousel .slider_card {
    width: 400px;
  }
  .owl-carousel .slider_card img {
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .owl-carousel .slider_card {
    width: 450px;
  }
}

@media screen and (max-width: 1100px) {
  .owl-carousel .slider_card {
    width: 400px;
  }
}

@media screen and (max-width: 980px) {
  .owl-carousel .slider_card {
    width: 600px;
  }
}

@media screen and (max-width: 750px) {
  .owl-carousel .slider_card {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .owl-carousel .slider_card {
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 1430px) {
  footer .footer_about {
    padding: 70px 10px 62px 20px;
  }
  footer .container2 {
    gap: 20px;
  }
}

@media screen and (max-width: 1050px) {
  footer .footer_about .footer_card h3 {
    font-size: 15px;
  }
  footer .footer_about .footer_card ul li a {
    font-size: 12px;
  }
}

@media screen and (max-width: 950px) {
  footer .footer_about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .footer_about .footer_card:nth-child(1) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .footer_about .container2 {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer .footer_about .footer_card h3 {
    font-size: 20px;
  }
  footer .footer_about .footer_card ul li a {
    font-size: 14px;
  }
}

@media screen and (max-width: 450px) {
  footer .footer_about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .footer_about .footer_card:nth-child(1) {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 40px;
  }
  footer .footer_about .footer_card:nth-child(1) p {
    display: none;
  }
}

header .window_location {
  height: 5vh;
  padding-top: 15px;
  padding-left: 40px;
}

header .window_location h4 {
  font-style: normal;
  font-weight: 450;
  font-size: 14px;
  line-height: 18px;
  color: var(--textColor);
}

header .window_location h4 span {
  color: var(--green);
}

header .header_body_analytics {
  background-color: var(--green);
  height: 82vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 71px;
}

header .header_body_analytics img {
  max-width: 670px;
}

header .header_body_analytics .header_text {
  color: white;
}

header .header_body_analytics .header_text h1 {
  max-width: 619px;
  font-style: normal;
  font-weight: 500;
  font-size: 56px;
  line-height: 60px;
  margin-bottom: 20px;
}

header .header_body_analytics .header_text p {
  font-style: normal;
  font-weight: 450;
  font-size: 18px;
  line-height: 22px;
  max-width: 440px;
  margin-bottom: 50px;
}

header .header_body_analytics .header_text button {
  width: 271px;
  height: 56px;
  background-color: var(--white);
  color: var(--green);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  border-radius: 30px;
  border: none;
}

.analytics_skill {
  max-width: 890px;
  padding: 40px;
  margin-left: auto;
  background-color: var(--green);
  border-radius: 20px 0px 0px 10px;
  margin-bottom: 120px;
  margin-top: 70px;
}

.analytics_skill h2 {
  max-width: 580px;
  color: var(--white);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
}

@media screen and (max-width: 1150px) {
  .header_body_analytics h1 {
    font-size: 36px;
  }
  .header_body_analytics p {
    font-size: 18px;
  }
  .header_body_analytics img {
    width: 500px;
  }
}

@media screen and (max-width: 900px) {
  .header_body_analytics {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .header_body_analytics img {
    max-width: 670px;
  }
}

@media screen and (max-width: 505px) {
  .header_body_analytics {
    padding: 0px !important;
    gap: 30px !important;
  }
  .header_body_analytics img {
    width: 100%;
  }
  .header_body_analytics button {
    display: none;
  }
  .header_body_analytics .header_text h1 {
    font-size: 36px;
    width: 100%;
  }
  .header_body_analytics .header_text p {
    font-size: 18px;
    width: 100%;
  }
  .analytics_skill h2 {
    font-size: 20px;
  }
}

.solutions_skill {
  max-width: 890px;
  padding: 40px;
  background-color: var(--white);
  border-radius: 0px 10px 10px 0px;
  border: 2px solid var(--green);
  border-left: none;
  margin: 120px 0;
}

.solutions_skill h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  color: var(--green);
  margin-bottom: 15px;
}

.solutions_skill p {
  font-style: normal;
  font-weight: 450;
  font-size: 18px;
  line-height: 22px;
  color: var(--textColor);
}

.solution_container {
  background-color: var(--white);
  margin-bottom: 120px;
}

.solution_container .solutions_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid var(--green);
  padding: 40px;
}

.solution_container .solutions_card:last-child {
  border: none;
}

.solution_container .solutions_card img {
  max-width: 737px;
}

.solution_container .solutions_card h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 70px;
  color: var(--textColor);
  margin-bottom: 14px;
}

.solution_container .solutions_card p {
  font-family: "Mark Pro";
  font-style: normal;
  font-weight: 450;
  font-size: 18px;
  line-height: 22px;
  color: var(--gray);
  margin-bottom: 30px;
  max-width: 555px;
}

.solution_container .solutions_card li {
  font-style: normal;
  font-weight: 450;
  font-size: 16px;
  line-height: 20px;
  list-style: none;
  margin-bottom: 12px;
  color: var(--textColor);
}

.solution_container .solutions_card li svg {
  margin-right: 7px;
}

.solution_container .solutions_card ul {
  margin-bottom: 28px;
}

.solution_container .solutions_card a {
  font-style: normal;
  font-weight: 450;
  font-size: 16px;
  line-height: 20px;
  color: var(--green);
}
/*# sourceMappingURL=style.css.map */